{% extends 'profile.html.twig' %}
{% block body %}

<script type="text/javascript">

/* Open */
function openAjout() {
    $("#ajout").height("100%");
}

/* Close */
function closeAjout() {
     $("#ajout").height("0%");
}

window.onload = openAjout();
</script>


<div class="grid-x grid-padding-x contenu">
  <div class="large-12 medium-12 cell">

		<form class="msg-ajout"  method="post">
		<h1>Voulez-vous vraiment ajouter {{prenom}} {{nom}} ?</h1>

      <br>

    <h2 class = 'erreur'>  {{etat}} </h2>

			<br/>
      <input type="hidden" name="_target_path" value="{{path('ajouter',{'pseudo': id}) }}" />
			<input type="submit" name="ajout" class="btn" value="Confirmer"/>
      <a href="{{path('profile',{'pseudo': id}) }}" class="btn-suppr">Annuler</a>
		</form>
    
  </div>  

</div>



{% endblock %}
