{% extends 'base.html.twig' %}

{% block body %}
<div class="grid-container.fluid">

<div class="grid-x grid-padding-x menu">

<div class="large-3 medium-3 cell">
  <img src="{{ asset('css/img/logo.png')}}" class="logo" alt="Toaster" />
</div>
<div class="large-9 medium-9 cell">
<form action="{{ path('login') }}" method="post">
  <input type="text" id="email" name="_username" placeholder="email" required />

  <input type="password" name="_password" placeholder="mot de passe" required />
  <input type="hidden" name="_target_path" value="{{  absolute_url(path("login")) }}" />
  <input type="submit" name="connexion" class="btn" value="Connexion"/>
</form>

</div>


</div>


<div class="grid-x grid-padding-x contenu">

  <div class="large-5 medium-5 cell meteo">

    <h1>Météo</h1>
    
    <!-- Météo -->
    <a class="weatherwidget-io" href="https://forecast7.com/fr/43d305d37/marseille/" data-label_1="MARSEILLE" data-theme="original" >MARSEILLE</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>

  </div>

  <div class="large-1 medium-1 cell">

    {% if connexion_erreur is defined %}
        {% if connexion_erreur != null %}
           <div class="erreur">{{ connexion_erreur.messageKey|trans(connexion_erreur.messageData, 'security') }}</div>
        {% endif %}
    {% endif %}

    {% if inscription_erreur is defined %}
      {% if inscription_erreur != null %}
       <div class="erreur">{{inscription_erreur}}</div>
      {% endif %}
    {% endif %}

</div>

<div class="large-6 medium-6 cell">

  <h1>Inscription</h1>

    <form action="{{ path('register') }}" method="post" class="inscription">
      <!--<input type="text" name="username" id="username" placeholder="pseudo (3 à 15 caractères)" required />-->
      <input type="text" name="prenom" id="prenom" placeholder="Prénom" required />
      <input type="text" name="nom" id="nom" placeholder="Nom" required />
      
      <br/>

      <input type="email" name="email" placeholder="e-Mail" required />
      
      <br/>

      <input type="password" name="password" placeholder="Mot de passe (3 à 30 caractères)" required />
      <input type="password" name="password2" placeholder="Confirmation du mot de passe" required />
      
      <br/>
      <br/>

      <input type="hidden" name="_target_path" value="{{ path("register") }}" />
      <input type="submit" name="inscription" class="btn contenu" value="Créer un compte">
    </form>


</div>


</div>




</div>
{% endblock %}
