{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/listeAmis.css') }}">
{% endblock %}

{% block menu %}
      <div class="grid-x grid-padding-x menu">

        <div class="large-1 medium-1 cell">
          <img src="{{ asset('css/img/logo.png')}}" class="logo" alt="Toaster" />
        </div>

        <div class="large-4 medium-4 cell">
          <form action="{{path('recherche')}}" method="get" class="recherche">
            <div class="grid-container">
              <div class="grid-x grid-margin-x">
              <div class="small-6 cell">
                <input type="text" class="menu" name="recherche" placeholder="Chercher..." />
              </div>
              <div class="small-6 cell">
                <input type="submit"  class="btn" value="Recherche">
              </div>
            </div>
          </div>
          </form>
        </div>

        <div class="large-1 medium-1 cell lienAccueil">
          <a href="{{path('homepage')}}" class="menu">Accueil</a>
        </div>

        <div class="large-1 medium-1 cell">
            <a href="#">
          <img src="{{ asset('css/img/invitations.png')}}" class="menu" alt="Invitations" />
        </a>
        </div>

        <div class="large-1 medium-1 cell">
          <a href="{{path('message',{'id_destinataire': id}) }}">
          <img src="{{ asset('css/img/messages.png')}}" class="menu" alt="Messages"  />
        </a>
        </div>

        <div class="large-1 medium-1 cell">
          <a href="#">
          <img src="{{ asset('css/img/parametres.png')}}" class="menu" alt="Paramètres" />
          </a>
        </div>

        <div class="large-1 medium-1 cell">
          <a href="{{path('logout')}}" class="menu">Déconnexion</a>
        </div>

      </div>
{% endblock %}
