{% extends 'menu.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/listeAmis.css') }}">
{% endblock %}

{% block body %}

<div class="grid-container.fluid">



	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<img src="{{ asset('css/img/' ~ photo) }}" class="profil" alt="Photo de profil" href="{{path('profile',{'pseudo': id}) }}"/>
		</div>

	</div>

	<div class="grid-x grid-padding-x contenu">

		<div class="large-4 medium-4 cell renseignementProfil">
			<h1> </h1>
		</div>

		<div class="large-4 medium-4 cell nomProfil">
			<h1><a href="{{path('profile',{'pseudo': id}) }}" class="nom">{{prenom}} {{nom}}</a></h1>
		</div>

		<div class="large-4 medium-4 cell photoProfil" >
			<h1> </h1>
		</div>

	</div>

	<hr class="style"/>



	<div class="grid-x grid-padding-x contenu" id="photo">
		<div class="gallery cf">



<!-- GALERE-->



  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>






		</div>
	</div>





<div class="grid-x grid-padding-x contenu">

	<div class="large-12 medium-12 cell">
		<h1>Amis</h1>
	</div>

</div>

<div class="grid-x grid-padding-x contenu">

	{% if not amis is empty %}
	{% for ami in amis %}

	<div class="large-2 medium-2 cell imagePublicateur">
    <img class="publicateur" src="{{ asset('css/img/' ~ ami.photo) }}" alt="{{ami.photo | raw}}">
  </div>

	<div class="large-3 medium-3 cell publicateur">
    <a href="{{path('profile',{'pseudo': ami.id}) }}" class="publicateur">
		  {{ami.prenom | raw}} {{ami.nom | raw}}
		</a>
  </div>

	<div class="large-7 medium-7 cell imagePublicateur">
		{% if id != monid %}
			<a class="btn" href='{{path('ajouter',{'pseudo': ami.id}) }}'>Ajouter</a>
		{% endif %}

		<a class="btn" href='{{path('retirer',{'pseudo': ami.id}) }}'>Retirer de la liste</a>
		      
	</div>
		
		{% endfor %}
		{% endif %}

</div>	

	






</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('js/fonctionsPages.js')}}"></script>
{% endblock %}
