
{% extends 'menu.html.twig' %}


{% block title %}Message privée{% endblock %}

{% block body %}


<div class="grid-container.fluid">



	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<h1>Messagerie privée</h1>
		</div>

	</div>

	<hr class="style">

	<div class="grid-x grid-padding-x contenu">

		<div id="msg" class="large-4 medium-4 cell msg">
			<h1>Conversations</h1>
			<h1>*Liste conversations*</h1>
		</div>

		<div id="msg" class="large-8 medium-8 cell msg">
			<h3><a href="{{path('profile',{'pseudo': id_Destinataire}) }}">
				{{prenom_destinataire}} {{nom_destinataire}}
			</a></h3>

				<div class="tchat">
					<span class="tchat">

					{% for message in old_messages %}
        				<div id="pseudo"> {{message.nom_emmeteur | raw}} {{message.prenom_emmeteur | raw}}  | 	<span id="message"> {{message.texte}} </span>	</div>

					{% endfor %}

					<!--		<div id="pseudo"> prenom nom  | 	<span id="message"> message </span>	</div> -->


					</span>
				</div>

				<form name="message" action="{{path('message',{'id_destinataire': id_destinataire}) }}" method="post">
        			<input name="usermsg" type="text" id="usermsg"  placeholder="Saisissez votre message..." />
        			<input class="btn" name="envoyer" type="submit"  id="envoyer" value="Envoyer"/>
				</form>
		</div>

	</div>



		{# <input class="btnenv" name="o" type="submit"  id="o" value="Envoyer"/> #}








</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
	$('#envoyer').click(function(e){
		e.preventDefault();
		var pseudo ="{{prenom | raw}} {{nom | raw}} | "; // on sécurise les données
		var message = $('#usermsg').val();
		$.post("{{path('message',{'id_destinataire': id_destinataire})}}",
	     {
	         pseudo: pseudo,
	        message: message
	     },
	     function(data, status){
	         alert("Le message vient d'être envoyer sur la base ");
	     });
	$('span.tchat').append("<div>"+pseudo+"<span>"+message+"</span>"+"</div>");
	});
	function charger(){
		setInterval(function(){
			alert("Rechargement de la page");
		}, 3000);
	}
//charger();
</script>

{% endblock %}
