{% extends 'menu.html.twig' %}

{% block title %}Message privée{% endblock %}

{% block body %}

<div class="grid-container.fluid">

	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<h1>Messagerie privée</h1>
		</div>

	</div>

	<hr class="style">

	<div class="grid-x grid-padding-x contenu">

		<div id="msg" class="large-4 medium-4 cell msg">
			<h1>Conversations</h1>

			<div class="grid-x grid-padding-x conversations">

				{% if not amis is empty %}
				{% for ami in amis %}

				<div class="large-4 medium-4 cell imagePublicateur">
					<img class="publicateur" src="{{ asset('css/img/' ~ ami.photo) }}" alt="{{ami.photo | raw}}">
				</div>

				<div class="large-8 medium-8 cell publicateur">
					<a href="{{path('message',{'id_destinataire': ami.id}) }}" class="amis">
						{{ami.prenom | raw}} {{ami.nom | raw}}
					</a>
				</div>

				{% endfor %}
				{% endif %}

			</div>

		</div>

		<div id="msg" class="large-8 medium-8 cell msg">
			<h1><a href="{{path('profile',{'pseudo': id}) }}" class="nom">
				{{prenom_destinataire}} {{nom_destinataire}}
			</a></h1>

			<div class="tchat">
				<span class="tchat">

					{% for message in old_messages %}
        				<div id="pseudo"> {{message.nom_emmeteur | raw}} {{message.prenom_emmeteur | raw}}  | 	<span id="message"> {{message.texte}} </span>	</div>

					{% endfor %}

					<!--		<div id="pseudo"> prenom nom  | 	<span id="message"> message </span>	</div> -->


				</span>
			</div>

				<form name="message" action="{{path('message',{'id_destinataire': id}) }}" method="post">
        			<input name="usermsg" type="text" id="usermsg"  placeholder="Saisissez votre message..." />
        			<input class="btn" name="envoyer" type="submit"  id="envoyer" value="Envoyer"/>
				</form>

		</div>

	</div>



		{# <input class="btnenv" name="o" type="submit"  id="o" value="Envoyer"/> #}








</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

var id_message="{{ id_message.id | raw }}";
if(id_message==null){
	id_message=0;
}


	$('#envoyer').click(function(e){
		e.preventDefault();
		var pseudo ="{{prenom | raw}} {{nom | raw}} | "; // on sécurise les données
		var message = $('#usermsg').val();
		$.post("{{path('message',{'id_destinataire': id})}}",
	     {
				 	method:"submit",
	         pseudo: pseudo,
	        message: message
	     },
	     function(data, status){
					 id_message =data.id_message;
	     });

	$('span.tchat').append("<div>"+pseudo+"<span>"+message+"</span>"+"</div>");
	});


	function charger(){
		setInterval(function(){
			$.ajax({
					url : "{{path('message',{'id_destinataire': id})}}", // on passe l'id le plus récent au fichier de chargement
					type : "POST",
					data:"method=" + "getMessage" + "&id_message=" + id_message,
					success : function(data){
						if(!jQuery.isEmptyObject(data.message)){
					for(var i=0;i<data.message.length ;i ++){
					$('span.tchat').append('<div id="pseudo">'+ data.message[i].nom_emmeteur+" " +data.message[i].prenom_emmeteur+ " | " +	'<span id="message">'+data.message[i].texte+" </span>	</div>" );
					id_message=data.id_message;
				}


			}
	//console.log(data.id_message);

					}

			});
		}, 5000);
	}
charger();

</script>

{% endblock %}
