
{% extends 'menu.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/post.css') }}">
{% endblock %}

{% block body %}



<script>

/* Open */
function openPublication() {
    $("#publication").height("100%");
}

/* Close */
function closePublication() {
     $("#publication").height("0%");
}

</script>


<div id="publication" class="overlay">

		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn" onclick="closePublication()">&times;</a>

		<!-- Overlay content -->
		<div class="overlay-content">

		<form method="post">
			<textarea  rows="7" cols="80" name="publication" id="publication">
			</textarea>

			<br/>
      <input type="hidden" name="_target_path" value="{{path('profile',{'pseudo': monid}) }}" />
			<input  id="publier" type="submit" name="publier" class="btn" value="Publier"/>
		</form>

		</div>

</div>










<div class="grid-container.fluid">



	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<img src="{{ asset('css/img/' ~ photo) }}" class="profil" alt="Photo de profil" />
		</div>

	</div>

	<div class="grid-x grid-padding-x contenu">

		<div class="large-4 medium-4 cell renseignementProfil" onclick="afficheApropos()">
			<h1>À propos</h1>
		</div>

		<div class="large-4 medium-4 cell nomProfil">
			<h1>{{prenom}} {{nom}}</h1>
		</div>

		<div class="large-4 medium-4 cell photoProfil" onclick="affichePhoto()">
			<h1>Photo</h1>
		</div>

	</div>

	<hr class="style"/>

	<div class="grid-x grid-padding-x contenu">

		<div class="large-6 medium-6 cell mur">
      {% if id == monid %}
			<span onclick="openPublication()" class="publication">Créer une publication</span>
      {% else %}
      <span  class="publication"></span>
      {% endif %}
		</div>

		<div class="large-6 medium-6 cell mur">
			<a href="{{path('amis',{'pseudo': id}) }}" class="barre">Amis</a>
		</div>

	</div>

	<hr class="style"/>

	<div class="grid-x grid-padding-x contenu" id="photo">
		<div class="gallery cf">



<!-- GALERE-->



  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>
  <div>
  <img src="css/img/photoProfil.png" class="profil" alt="Photo de profil" />
  </div>












		</div>
	</div>

	<div class="grid-x grid-padding-x contenu" id="Apropos">

		<div class="tab">
  			<button class="tablinks" onclick="openCity(event, 'London')"><h2>Informations générales et coordonnées</h2></button>
  			<button class="tablinks" onclick="openCity(event, 'Paris')"><h2>Emploi et scolarité</h2></button>
  			<button class="tablinks" onclick="openCity(event, 'Tokyo')"><h2>Évènements marquants</h2></button>
		</div>

		<div id="London" class="tabcontent">
  			<h2>Coordonnées</h2>
			  <p>tel</p>
			  <p>email</p>
		</div>

		<div id="Paris" class="tabcontent">
  			<h2>Emploi</h2>
			  <p>chômage</p>
			 <h2>Scolarité</h2>
			 <p>{{bio}}</p>
		</div>

		<div id="Tokyo" class="tabcontent">
  			<h2>Évènements</h2>
  			<p>ecrire</p>
		</div>

	</div>

   <!-- PUBLICATIONS-->

	<!-- loop-->
    {% for publi in listePubli %}

	<div id="post_push" class="grid-x grid-padding-x">

		<div class="large-2 medium-2 cell imagePublicateur">
       		<img src="{{ asset('css/img/' ~ photo) }}" class="publicateur" alt="Photo de profil" />
       	</div>

		<div class="large-2 medium-2 cell publicateur">
            <a href="{{path('profile',{'pseudo': publi.id}) }}" class="publicateur">
          		{{publi.prenom | raw}} {{publi.nom | raw}}
        	</a>
   		</div>

		<div class="large-6 medium-6 cell publication">
       		{{publi.texte}}
       	</div>

		<div class="large-2 medium-2 cell datePublication">
       		<p>publié le {{publi.datep| date('d-m-Y') }} à {{publi.heurep| date('H:i:s') }}</p>
       	</div>

	</div>

	<!-- end loop-->
    {% endfor %}








	</div>


</div>
{% endblock %}

{% block javascripts %}


<script type="text/javascript">

	$('#publier').click(function(e){
		e.preventDefault();
		var pseudo ="{{prenom | raw}} {{nom | raw}} | "; // on sécurise les données
		var message = $('textarea#publication').val();
    closePublication();
		$.post("{{path('profile',{'pseudo': monid})}}",
	     {
	        publication: message
	     },
	     function(data, status){
	         alert("Le message vient d'être envoyer sur la base " );
           $('#post_push').append('<div class="large-2 medium-2 cell imagePublicateur"><img src="{{ asset('css/img/' ~ photo) }}" class="publicateur" alt="Photo de profil" /></div>'
            +'<div class="large-2 medium-2 cell publicateur"><a href="{{path('profile',{'pseudo':id }) }}" class="publicateur">'+ data.prenom+ data.nom +'</a></div>'
          +'	<div class="large-6 medium-6 cell publication">'+message+'</div>'
          +'<div class="large-2 medium-2 cell datePublication"><p>publié le '+data.date+' à '+data.heure+'</p></div>'
          );

	     });



	});
</script>

	<script src="{{asset('js/fonctionsPages.js')}}"></script>
{% endblock %}
