{% extends 'menu.html.twig' %}

{% block body %}

<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<h1>Personnes</h1>
		</div>

</div>			

<div class="grid-x grid-padding-x contenu">

	{% for personne in personnes %}

	<div class="large-3 medium-3 cell imagePublicateur">
    <img class="publicateur" src="{{ asset('css/img/' ~ personne.ppPath) }}" alt="{{personne.ppPath | raw}}">
  </div>	

	<div class="large-6 medium-6 cell publicateur">
    <a href="{{path('profile',{'pseudo': personne.id}) }}" class="amis">
		  {{personne.prenom | raw}} {{personne.nom | raw}}
		</a>
  </div> 

	<div class="large-3 medium-3 cell imagePublicateur">
		<a class="btn" href='{{path('ajouter',{'pseudo': personne.id}) }}'>Ajouter</a>
					
		<a class="btn-" href='{{path('retirer',{'pseudo': personne.id}) }}'>Retirer de la liste</a>    
	</div> 

	{% endfor %}

</div>

{% endblock %}
