
{% extends 'menu.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/post.css') }}">
{% endblock %}

{% block body %}



<script>

/* Open */
function openPublication() {
    $("#publication").height("100%");
}

/* Close */
function closePublication() {
     $("#publication").height("0%");
}

</script>


<div id="publication" class="overlay">

		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn" onclick="closePublication()">&times;</a>

		<!-- Overlay content -->
		<div class="overlay-content">

		<form method="post">
			<textarea  rows="7" cols="80" name="publication" id="publication">
			</textarea>

			<br/>
      <input type="hidden" name="_target_path" value="{{path('timeline')}}" />
			<input  id="publier" type="submit" name="publier" class="btn" value="Publier"/>
		</form>

		</div>

</div>



<div class="grid-container.fluid">
  <div class="grid-x grid-padding-x contenu">

  	<div class="large-12 medium-12 cell">
  		<h1>Accueil</h1>
  	</div>

  </div>

	<hr class="style"/>

	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell mur">

			<span onclick="openPublication()" class="publication">Créer une publication</span>

		</div>

	</div>

	<hr class="style"/>

   <!-- PUBLICATIONS-->




<div id="post_push" class="conteneurPost ">
  <!-- loop-->
    {% for publi in listePubli %}
      <div  class="grid-x grid-padding-x cadrePost">




		<div class="large-2 medium-2 cell imagePublicateur">
       		<img src="{{ asset('css/img/' ~ publi.photo) }}" class="publicateur" alt="Photo de profil" />
       	</div>

		<div class="large-2 medium-2 cell publicateur">
            <a href="{{path('profile',{'pseudo': publi.id}) }}" class="publicateur">
          		{{publi.prenom | raw}} {{publi.nom | raw}}
        	</a>
   		</div>

		<div class="large-6 medium-6 cell publication">
       		{{publi.texte}}
       	</div>

		<div class="large-2 medium-2 cell datePublication">
       		<p>publié le {{publi.datep| date('d-m-Y') }} à {{publi.heurep| date('H:i:s') }}</p>
       	</div>


    </div>
	<!-- end loop-->
    {% endfor %}

</div>






	</div>


</div>
{% endblock %}

{% block javascripts %}


<script type="text/javascript">

	$('#publier').click(function(e){
		e.preventDefault();
		var pseudo ="{{prenom | raw}} {{nom | raw}} | "; // on sécurise les données
		var message = $('textarea#publication').val();
    closePublication();
		$.post("{{path('timeline')}}",
	     {
	        publication: message
	     },
	     function(data, status){
	         //alert("Le message vient d'être envoyer sur la base " );
           $('#post_push').prepend('<div  class="grid-x grid-padding-x cadrePost"><div class="large-2 medium-2 cell imagePublicateur"><img src="{{ asset('css/img/' ~ maPhoto) }}" class="publicateur" alt="Photo de profil" /></div>'
            +'<div class="large-2 medium-2 cell publicateur"><a href="{{path('profile',{'pseudo':monid }) }}" class="publicateur">'+ data.prenom+' '+data.nom +'</a></div>'
          +'	<div class="large-6 medium-6 cell publication">'+message+'</div>'
          +'<div class="large-2 medium-2 cell datePublication"><p>publié le '+data.date+' à '+data.heure+'</p></div></div>'
          );

	     });



	});
</script>

	<script src="{{asset('js/fonctionsPages.js')}}"></script>
{% endblock %}
